<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Document</title>
</head>
<body>
    <div id='app'>
    {{message}}
</div>
<div id='app-2'>
    <span :title = 'message'>
        selam canım ben amcanım
    </span>
</div>
<div id='app-3'>
 <span v-if="seen"> now you see me</span>
</div>
<div id='app-4'>
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id='app-5'>
    <p>{{message}}</p>
    <button @click = "reverseMessage">Reverse Message</button>
</div>
<div id='app-6'>
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item 
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
        ></todo-item>
    </ol>
</div>
</body>
</body>
</html>